body {
  background: url(../Images/bg7.png);
}

header {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.box {
  color: white;
  border: 2px solid red;
  margin: 10px;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
}

.box h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.15rem;
}

.indent {
  padding-left: 55px;
}

.double-indent {
  padding-left: 110px;
}